{% extends "layout.html" %}

{% block head %}
{% load static %}
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script src="{% static 'js/ConstructMessage.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
<title>Chat</title>
{% endblock %}

{% block body %}
<div class="container-fluid px-0 mx-0 d-flex justify-content-end">
  <div class="col-3 d-none d-sm-flex flex-column flex-shrink-0 p-3 bg-light position-fixed start-0 vh-100 vw-25"
    style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Active Users</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item nav-link link-dark">
        <div class="position-relative d-inline">
          <span class="active-icon position-absolute translate-middle p-1 border rounded-circle"></span>
          <img class="bi me-2" src="./images/avatars/image-amyrobson.png" width="30" height="30" alt="">
        </div>
        amyrobson
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <div class="position-relative d-inline">
            <span class="active-icon position-absolute translate-middle p-1 border rounded-circle"></span>
            <img class="bi me-2" src="./images/avatars/image-juliusomo.png" width="30" height="30" alt="">
          </div>
          juliusoma
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <div class="position-relative d-inline">
            <span class="active-icon position-absolute translate-middle p-1 border rounded-circle"></span>
            <img class="bi me-2" src="./images/avatars/image-maxblagun.png" width="30" height="30" alt="">
          </div>
          maxblagun
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <div class="position-relative d-inline">
            <span class="active-icon position-absolute translate-middle p-1 border rounded-circle"></span>
            <img class="bi me-2" src="./images/avatars/image-ramsesmiron.png" width="30" height="30" alt="">
          </div>
          ramssesmiron
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropup">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{user.userprofile.user_img.url}}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ user.username}}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="z-index: 200;">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Reset password`</a></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>

  <div class="w-75 w-sm-100 text-center d-flex justify-content-end justify-self-end">
    <div class="wrapper my-3">
      

      
      <div class="reply-card-container border-start border-3 me-1">

        <div class="card-container hidden p-3 row rounded rounded-3 mx-3p mb-3" style="background-color: hsl(0, 0%, 100%);">
          <div
            class="votes-container col-12 col-sm-2 order-1 order-sm-0 mt-2 mt-sm-0 d-flex justify-content-center align-items-start">
            <div class="votes d-flex flex-sm-column justify-content-between p-2 p-sm-3 my-2 rounded rounded-3 "
              style="background-color: hsl(223, 19%, 93%);">
              <span class="upvote me-4 mx-sm-0"><svg class="bi" width="11" height="11">
                  <use xlink:href='#plus'></use>
                </svg></span>
              <span class="vote me-4 mx-sm-0">2</span>
              <span class="downvote me-0 mx-sm-0"><svg class="bi" width="11" height="3">
                  <use xlink:href='#minus'></use>
                </svg></span>
            </div>
            <div class="d-sm-none align-self-center">
              <span class="reply me-2 cursor-pointer" role="button"><svg class="bi" width="14" height="13">
                  <use xlink:href='#reply'></use>
                </svg> reply</span>
              <span class="delete me-2 cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal1"
                role="button"><svg class="bi" width="12" height="14">
                  <use xlink:href='#delete'></use>
                </svg> delete</span>
              <span class="edit me-2 cursor-pointer" role="button"><svg class="bi" width="14" height="14">
                  <use xlink:href='#edit'></use>
                </svg> edit</span>
            </div>
          </div>
          <div class="col">
            <div class="post-head d-flex justify-content-between mb-3">
              <div>
                <img class="rounded-circle" src="../MEDIA/USERS_IMG/image-amyrobson.png" width="35px" alt="profile image"
                  style="aspect-ratio: 1/1;">
                <span class="username ms-1">juliusoma</span>
                <span class="you-icon ms-1 p-1 rounded text-white">you</span>
                <span class="date-posted ms-1 opacity-50">2 days ago</span>
              </div>
              <div class="d-none d-sm-block">
                <span class="reply me-2 cursor-pointer" role="button"><svg class="bi" width="14" height="13">
                    <use xlink:href='#reply'></use>
                  </svg> reply</span>
                <span class="delete me-2 cursor-pointer" data-bs-toggle="modal" data-bs-target="#modal1"
                  role="button"><svg class="bi" width="12" height="14">
                    <use xlink:href='#delete'></use>
                  </svg> delete</span>
                <a class="edit me-2 cursor-pointer text-decoration-none" role="button"><svg class="bi" width="14" height="14">
                    <use xlink:href='#edit'></use>
                  </svg> edit</a>
              </div>
            </div>
            <div class="post text-start">
              <span class="reply-focus">@ramssesmiron</span>
              i couldn't agree more with this. Everything moves so fast and it always seems like everyone knows the
              latest library/frameword.
              But the foundamentals are what stays constant
            </div>
          </div>
        </div>
      </div>

      <div class="comment-card-container p-3 row rounded rounded-3 mx-3p mb-3"
        style="background-color: hsl(0, 0%, 100%);">
        <form id="comment-form" class="form add-comment" method="post">
          <div class="photo-div"> <img class="rounded-circle" src="{{ user.userprofile.user_img.url }}" width="35px"
              alt="profile image" style="aspect-ratio: 1/1;"></div>
          <div class="textarea-div"><textarea name="comment" id="comment-input" class="form-control"
              placeholder="Add a comment.." required></textarea></div>
          <div class="submitbtn-div"><input type="submit" class="submit-btn btn btn-sm text-white" value="SEND"></div>
        </form>
      </div>
    </div>
  </div>

  <script>
    const currentUser = '{{user.username}}'
    const roomName = 'chat';
    // connecting to the sucket
    const chatSocket = new ReconnectingWebSocket(
      'ws://'
      + window.location.host
      + '/ws/chat/'
      + roomName
      + '/'
    );

    // fetchmesages() when connection is established/open
    chatSocket.onopen = function () {
      fetchMessages();
    }

    // handling what happens when the socket sends a message
    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);

      if (data.command === 'new_message') {
        HandleNewMessage(currentUser, data.message)
        document.querySelector('#comment-input').focus();
      } else if (data.command == 'fetch_messages') {
        HandlePreviousMessages(currentUser, data.messages)
        document.querySelector('#comment-input').focus();
      }else if (data.command == 'delete_message'){
        HandleDeleteMessage(data.message_id)
      }else if (data.command == 'add_vote'){
        console.log('it reached here');
        HandleVoteMessage(data)
      }
    };

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    // focus on the comment button on load
    document.querySelector('#comment-input').focus();

    $('form#comment-form').on('submit', (e)=>{
      e.preventDefault()
      const messageInputDom = document.querySelector('#comment-input');
      const message = messageInputDom.value;
      // sending message to the socket
      chatSocket.send(JSON.stringify({
        'message': message,
        'command': 'new_messages',
        'reply': 'false',
      }));
      messageInputDom.value = '';
    });

    function submitReply(e) {
        let form = e.target
        to = $(form).serializeArray()[1].value //getting the author of the chat from a hidden input field
        e.preventDefault()
        chatSocket.send(JSON.stringify({
        message: $(form).find('textarea').val(),
        command : 'new_messages',
        reply: 'true',
        to: to,
      }))
      $(form).find('textarea').val('')
      $('form').find('button.btn-close').click()
    }

    function deleteMessage(target) {
      let message_id = target.id
      chatSocket.send(JSON.stringify({
        command: 'delete_message',
        message_id: message_id,
      }))
    }

    function addVote(target) {
      vote_type = target.id
      message_id = target.getAttribute('data-message-id');

      chatSocket.send(JSON.stringify({
        command: 'add_vote',
        vote_type: vote_type,
        message_id: message_id,
      }))

    }

    function fetchMessages() {
      chatSocket.send(JSON.stringify({ 'command': 'fetch_messages' }))
    }
  </script>


  <!-- <div class="svgs d-none">
  <svg width="14" height="13" xmlns="http://www.w3.org/2000/svg">
    <path id="reply"
    d="M.227 4.316 5.04.16a.657.657 0 0 1 1.085.497v2.189c4.392.05 7.875.93 7.875 5.093 0 1.68-1.082 3.344-2.279 4.214-.373.272-.905-.07-.767-.51 1.24-3.964-.588-5.017-4.829-5.078v2.404c0 .566-.664.86-1.085.496L.227 5.31a.657.657 0 0 1 0-.993Z" 
    fill="currentColor"/>
</svg>
</div> -->

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
      <title>Bootstrap</title>
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z">
      </path>
    </symbol>
    <symbol id="reply">
      <path
        d="M.227 4.316 5.04.16a.657.657 0 0 1 1.085.497v2.189c4.392.05 7.875.93 7.875 5.093 0 1.68-1.082 3.344-2.279 4.214-.373.272-.905-.07-.767-.51 1.24-3.964-.588-5.017-4.829-5.078v2.404c0 .566-.664.86-1.085.496L.227 5.31a.657.657 0 0 1 0-.993Z"
        fill="currentColor" />
    </symbol>
    <symbol id="edit">
      <path
        d="M13.479 2.872 11.08.474a1.75 1.75 0 0 0-2.327-.06L.879 8.287a1.75 1.75 0 0 0-.5 1.06l-.375 3.648a.875.875 0 0 0 .875.954h.078l3.65-.333c.399-.04.773-.216 1.058-.499l7.875-7.875a1.68 1.68 0 0 0-.061-2.371Zm-2.975 2.923L8.159 3.449 9.865 1.7l2.389 2.39-1.75 1.706Z"
        fill="currentColor" />
    </symbol>
    <symbol id="delete">
      <path
        d="M1.167 12.448c0 .854.7 1.552 1.555 1.552h6.222c.856 0 1.556-.698 1.556-1.552V3.5H1.167v8.948Zm10.5-11.281H8.75L7.773 0h-3.88l-.976 1.167H0v1.166h11.667V1.167Z"
        fill="currentColor" />
    </symbol>
    <symbol id="plus">
      <path
        d="M6.33 10.896c.137 0 .255-.05.354-.149.1-.1.149-.217.149-.354V7.004h3.315c.136 0 .254-.05.354-.149.099-.1.148-.217.148-.354V5.272a.483.483 0 0 0-.148-.354.483.483 0 0 0-.354-.149H6.833V1.4a.483.483 0 0 0-.149-.354.483.483 0 0 0-.354-.149H4.915a.483.483 0 0 0-.354.149c-.1.1-.149.217-.149.354v3.37H1.08a.483.483 0 0 0-.354.15c-.1.099-.149.217-.149.353v1.23c0 .136.05.254.149.353.1.1.217.149.354.149h3.333v3.39c0 .136.05.254.15.353.098.1.216.149.353.149H6.33Z"
        fill="currentColor">
    </symbol>
    <symbol id="minus">
      <path
        d="M9.256 2.66c.204 0 .38-.056.53-.167.148-.11.222-.243.222-.396V.722c0-.152-.074-.284-.223-.395a.859.859 0 0 0-.53-.167H.76a.859.859 0 0 0-.53.167C.083.437.009.57.009.722v1.375c0 .153.074.285.223.396a.859.859 0 0 0 .53.167h8.495Z"
        fill="currentColor">
    </symbol>
  </svg>

  {% endblock %}