{% extends "layout.html" %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/7dc614ef69.js" crossorigin="anonymous"></script>
    <title>Frontend Mentor | Interactive comments section | Join Room</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
{% endblock %}
{% block body %}
    <div class="container px-0 px-initial">
        <div class="container-inner rounded-top rounded-bottom border overflow-hidden my-0 my-sm-4 mx-0 mx-sm-4">
            <form hx-post="{% url 'check_room_exist' %}" hx-trigger="change from:#room_name" hx-target="#room_name" action="{% url 'join_channel' %}" method="post" class="m-0 p-0">
                {% csrf_token %}
                <div class="header p-4 bg-main-color ">
                    <h1 class="text-light"> <i class="fa-solid fa-arrows-down-to-people"></i> Join/Create A Room</h1>
                    <p class="w-75 w-md-50 text-light fs-5">join an existing Room by putting in the Room name or just create a new one.</p>
                </div>
                <div class="p-4">
                    <label for="room_name" class="form-label fs-5"> Join/Create A Room</label>
                    <input type="text" hx-post="{% url 'check_room_exist' %}" hx-trigger="keyup changed" hx-target="#room-submit-btn" action="{% url 'join_channel' %}" class="form-control form-control-lg" id="room_name" name="room_name" required>
                </div>
                <div class="mb-3 p-4 pt-0">
                    <button type="submit" id="room-submit-btn" class="btn btn-lg bg-main-color text-white">
                        Create room
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'js/libraries/htmx.min.js' %}"></script>
{% endblock %}